on: 
  workflow_dispatch: 
    inputs:
      enviroment:
         description: "choose env"
         required: true
         default: "stage"
         type: choice
         options:
           - stage
           - prod
  

jobs:
  deploy:
     runs-on: ubuntu-latest
     steps:
       - name: deploy
         run : echo "deploy"
